.content {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  margin: 2rem 4rem 2rem 10rem;
  text-align: justify;  
  
  @media (max-width: 1080px) {
    margin: 2rem 4rem 2rem 8rem;
  }
  
  @media (max-width: 720px) {
    margin: 2rem 4rem 2rem 7rem;
  }
  
  @media (max-width: 420px) {
    margin: 2rem 2rem 2rem 5rem;
  }
}