.aboutText {
  p {
    font-weight: 600;
  }
}

.academicContent {
  text-align: left;

  h2 {
    margin: 2rem 0;
    text-decoration: underline;
    text-decoration-color: var(--purple-500);
  }

  .coursesText {
    .courseItem {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;

      img {
        width: 60px;
        min-width: 60px;
        height: auto;
        margin-right: 1rem;
      }

      .courseInfo {
        p {          
          margin: 0.5rem 0;
        }
      }
    }
  }
}