.pageContentContainer {
  height: 100%;
  width: 100%;  
}

.pageContent {
  padding-bottom: 2rem;
  animation-name: pageLoading;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  
  @keyframes pageLoading {
    0%   {opacity: 0; margin-left: 0; margin-right: 0}
    50%   {opacity: 0.2; margin-left: -2rem; margin-right: 2rem}
    100% {opacity: 1; margin-left: 0; margin-right: 0}
  }
}

.titleContent {
  @keyframes titleOpacity {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

  animation-name: titleOpacity;
  animation-duration: 1.5s;

  hr {
    background-color: var(--purple-500);
    width: 5.5rem;
    height: 0.25rem;
    margin: 0.5rem 0 2rem 0;
  }
}

.languageButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--purple-800-40);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--purple-800-40);
    background-color: transparent;
    color: var(--purple-800);
    font-weight: 600;

    @media (max-width: 720px) {
      padding: 0.2rem 0.5rem;
    }
    
    &:hover {
      background-color: var(--purple-800-40);
    }
  }
  
  .active {
    background-color: var(--purple-800-20);
  }
}

.sideNavigationContainer {
  position: relative;

  .arrowLeftButton, .arrowRightButton {
    position: fixed;
    top: 50%;                         
    transform: translateY(0, -50%);
  
    span {
      position: absolute;
      font-size: 0;
      white-space: nowrap;
      bottom: -0.5rem;   
      transition: font-size 0.4s; 
    }
  
    button {
      background-color: transparent;
  
      svg {
        opacity: 0.6;
        font-size: 3rem;      
        color: var(--purple-500);
        transition: transform 0.5s, opacity 0.5s;
      }    
    }
    
    &:hover {
      span {
        font-size: 0.6rem;
      }
  
      button {
        svg {
          transform: scale(1.4);
          opacity: 1;
        }
      }
    }
  
    @media (max-width: 720px) {
      button {
        svg {
          font-size: 2rem;
        }
      }
    }
  
    @media (max-width: 420px) {
      display: none;
    }
  }
  
  .arrowLeftButton {
    left: 10rem;
    margin-left: -3rem;
  
    span {
      right: 0.8rem;      
    }

    @media (max-width: 1080px) {
      left: 8rem;
    }

    @media (max-width: 720px) {    
      left: 7.5rem; 

      span {
        right: 0.3rem;
      } 
    }
  } 
  
  .arrowRightButton {
    right: 4rem;
    margin-right: -3rem;
  
    span {
      right: 0.8rem;
    }
  
    @media (max-width: 720px) {    
      right: 4.5rem; 
  
      span {
        right: 0.3rem;
      }
    }
  }
}
